<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons icon">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="cart-arrow-down"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background: none; border: none;">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                            [style.display]="(checkUser) ? 'none' : ''">
                            <a class="dropdown-item" href="/register">Sign in</a>
                            <a class="dropdown-item" href="/login">Login</a>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                            [style.display]="(checkUser) ? '' : 'none'">
                            <button class="dropdown-item" (click)="logout()">Log out</button>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>