<app-navbar></app-navbar>

<!-- ========================================== Modal for address ==================================================== -->

<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
    (click)="modal(addressUpdateModal)" mdbWavesEffect>Buy Now
</button>

<div mdbModal #addressUpdateModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Enter Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="addressUpdateModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="form34" class="form-control" mdbInput mdbValidate [formControl]="ModalName">
                    <label for="form34">Your name</label>
                    <mdb-error *ngIf="ModalName.invalid && (ModalName.dirty || ModalName.touched)">
                        User Name Invalid
                    </mdb-error>
                </div>
                <div class="md-form mb-5">
                    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                    <input type="email" id="form29" class="form-control" mdbInput mdbValidate [formControl]="ModalEmail"
                        required>
                    <label for="form29">Your email</label>
                    <mdb-error *ngIf="ModalEmail.invalid && (ModalEmail.dirty || ModalEmail.touched)">
                        Email invalid
                    </mdb-error>
                </div>
                <div class="md-form mb-5">
                    <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                    <input type="number" id="form32" class="form-control" mdbInput mdbValidate
                        [formControl]="ModalPincode">
                    <label for="form32">Pincode</label>
                    <mdb-error *ngIf="ModalPincode.invalid && (ModalPincode.dirty || ModalPincode.touched)">
                        Pincode invalid
                    </mdb-error>
                </div>
                <div class="md-form">
                    <mdb-icon fas icon="location-arrow" class="prefix grey-text"></mdb-icon>
                    <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput mdbValidate
                        [formControl]="ModalAddress"></textarea>
                    <label for="form8">Address</label>
                    <mdb-error *ngIf="ModalAddress.invalid && (ModalAddress.dirty || ModalAddress.touched)">
                        Address invalid
                    </mdb-error>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="buyProduct()"
                    [disabled]="addressCheck()">Send
                    <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= Product show ================================================= -->

<div class="card-deck" [style.display]="(loader)?'none':''">
    <mdb-card *ngFor="let item of cartData">
        <div class="view overlay waves-light zoom" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/3.webp" alt="Card image cap"
                class="img-fluid"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body>
            <mdb-card-title style="display: flex; align-items: center; flex-direction: column;">
                Product Name<h4>{{item.productId.productName}}</h4>
            </mdb-card-title>
            <mdb-card-title style="display: flex;justify-content: space-evenly;">
                <div>
                    Price<h5> {{item.productId.price}}</h5>
                </div>
                <div>
                    Quantity<h5> {{item.productId.stock}}</h5>
                </div>
            </mdb-card-title>
            <div class="custbtm">
                <button mdbBtn color="primary" mdbWavesEffect (click)="addProduct(item.productId)"
                    [disabled]="buttonDis(item.productId.stock , item.quantity)">+</button>
                <button mdbBtn class="custbtm2" mdbWavesEffect disabled>{{item.quantity}}</button>
                <button mdbBtn color="primary" mdbWavesEffect (click)="removeProduct(item._id)">-</button>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>

<!-- ======================= Loader ======================= -->

<div [style.display]="(loader)?'':'none'">
    <app-loader></app-loader>
</div>