<app-navbar></app-navbar>

<!-- ================================= Code ================================= -->

<div class="card-deck" [style.display]="(loader)?'none':''">
    <mdb-card *ngFor="let item of allProduct">
        <div class="view overlay waves-light zoom" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/3.webp" alt="Card image cap"
                class="img-fluid"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <mdb-card-body>
            <mdb-card-title style="display: flex; align-items: center; flex-direction: column;">
                PRODUCT NAME<h4>{{item.productName}}</h4>
            </mdb-card-title>
            <mdb-card-title style="display: flex;justify-content: space-evenly;">
                <div>
                    PRICE<h5> {{item.price}}</h5>
                </div>
                <div>
                    STOCK<h5> {{item.stock}}</h5>
                </div>
            </mdb-card-title>
            <div class="selProBtn">
                <button mdbBtn color="primary" mdbWavesEffect (click)="modal(updateModal, item)">Update</button>
                <button mdbBtn color="primary" mdbWavesEffect
                    (click)="deleteModalCall(deleteModal,item)">Delete</button>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>

<!-- =================================== Modal for update============================ -->

<div mdbModal #updateModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="updateModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="form34" class="form-control" mdbInput mdbValidate
                        [formControl]="productName">
                    <label for="form34">Product name</label>
                    <mdb-error *ngIf="productName.invalid && (productName.dirty || productName.touched)">
                        Input
                        invalid
                    </mdb-error>
                </div>
                <div class="md-form mb-5">
                    <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                    <input type="number" id="form32" class="form-control" mdbInput mdbValidate [formControl]="price">
                    <label for="form32">Price</label>
                    <mdb-error *ngIf="price.invalid && (price.dirty || price.touched)">
                        Input invalid
                    </mdb-error>
                </div>
                <div class="md-form mb-5">
                    <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                    <input type="number" id="form32" class="form-control" mdbInput mdbValidate [formControl]="stock">
                    <label for="form32">Stock</label>
                    <mdb-error *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                        Input invalid
                    </mdb-error>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="unique" class="waves-light" (click)="update()" mdbWavesEffect
                    [disabled]="addressCheck()">Send
                    <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- =============================== Product delete modal =============================== -->

<div mdbModal #deleteModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>
            <div class="modal-body">
                <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
                    (click)="productDelete()">Yes</button>
                <button type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
                    (click)="deleteModal.hide()">No</button>
            </div>
        </div>
    </div>
</div>

<!-- =========================== loader =========================== -->

<!-- <div class="loader spinner-border" role="status" [style.display]="(loader)?'':'none'">
    <span class="sr-only">Loading...</span>
</div> -->

<div [style.display]="(loader)?'':'none'">
    <app-loader></app-loader>
</div>